HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.zip
Mvnw*
.DS_STORE
.terraform/providers/registry.terraform.io/hashicorp/aws/6.4.0/darwin_amd64/terraform-provider-aws_v6.4.0_x5


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.terraform/
.terraform/providers/registry.terraform.io/*
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
